@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor1: #2f86d6;
    --cor2: #000;
    --cor3: #fff;
    --cor4: #233032;
    --cor5: #a89f9f;
    --cor6: #f1f3f7;
}

header {
    width: 100%;
    margin: auto;
    background-color: var(--cor3);
    padding: 35px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

header .topo {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 80px;
    margin-right: 10px;
}

header .logo {
    display: flex;
}

.logo-texto {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.logo-texto p {
    color: var(--cor1);
    font-weight: 600;
    font-size: 18px;
}

header a {
    padding: 5px;
    text-decoration: none;
    font-weight: 600;
    color: var(--cor4);
}

.secao-banner {
    width: 100%;
    background-color: var(--cor1);
    padding: 50px 0px;
}

.container-secao-banner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container-texto-banner {
    color: var(--cor3);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 1 1 300px;
}

.container-texto-banner h2 {
    font-size: 28px;
}

.container-texto-banner p {
    font-size: 16px;
}

.container-imagem {
    flex: 1 1 300px;
}

.container-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-anuncio {
    color: var(--cor3);
}

.texto-anuncio h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.texto-anuncio p {
    font-size: 16px;
}

.anuncio-1 {
    background-color: var(--cor4);
    padding: 20px 30px;
}

.container-anuncio {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-anuncio-1 {
    background-color: var(--cor1);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.link-anuncio-1 a {
    margin-left: 8px;
    text-decoration: none;
    color: var(--cor3);
    font-size: 18px;
    font-weight: 600;
}